.tv__card {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 2rem;
    max-width: 1200px;
    margin-inline: auto;
    padding: 1.5rem;
}

.tv__poster {
    flex: 1 1 300px;
    max-width: 400px;
    margin-inline: auto;
}

.tv__poster img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 1rem;
    object-fit: cover;
}

.tv__info {
    flex: 2 1 400px;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.tv__info h1 {
    margin: 0;
    color: var(--command);
}

.tv__rating {
    font-weight: bold;
}

.tv__actions {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 0.5rem;
}

.tv__actions button {
    padding: 20px;
    background: var(--gradient);
    border-radius: var(--radius-sm);
    font-size: 22px;
}

.tv__credits {
    margin-top: 1rem;
    margin-inline: auto;
    max-width: 95%;
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(
        auto-fill,
        minmax(210px, 1fr)
    );
}

.tv__actor {
    padding: .6rem;
    background-color: var(--white);
    border-radius: 1rem;
    place-items: center;
}

.tv__actor h4 {
    padding: 10px 0 10px 0;
    color: var(--bg);
}

.tv__actor img {
    display: block;
    width: 100%;
    aspect-ratio: .7 / 1;
    object-fit: scale-down;
}

.tv__prod {
    margin-top: 1rem;
    margin-inline: auto;
    max-width: 95%;
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(
        auto-fill,
        minmax(210px, 1fr)
    );
}

.tv__crew {
    padding: .6rem;
    background-color: var(--white);
    border-radius: 1rem;
    place-items: center;
}

.tv__crew h4 {
    padding: 10px 0 10px 0;
    color: var(--bg);
    align-self: flex-start;
}

.tv__crew img {
    display: block;
    width: 100%;
    aspect-ratio: .7 / 1;
    object-fit: scale-down;
}




