.title {
    background-color: var(--bg-elevated);
    color: var(--command);
}

.empty {
    margin-top: 1rem;
    text-align: center;
}

.fav__grid {
    margin-top: 1rem;
    width: 90%;
    margin-inline: auto;
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(
        auto-fill,
        minmax(220px, 1fr)
    );
}

.fav {
    padding: .7rem;
    background-color: var(--white);
    border-radius: 1rem;
    display: grid;
    place-items: center;
    gap: .5rem;
}

.fav img {
    display: block;
    width: 100%;
    aspect-ratio: 2 / 3;
    object-fit: cover;
}

.fav h4 {
    color: var(--text-dim);
}

.fav__button {
    padding: .7rem;
    border-radius: 6px;
    font-weight: 600;
    background-color: var(--light-red);
}



